/*
    color palette-https://coolors.co/e6e1db-dbac95-37355a-6d64b9-e7363c
    font-https://fonts.google.com/specimen/Saira 500 600
*/
*{
    font-family: Saria, sans-serif;
    margin: 0;
}

html{
    margin: 0;
}

body {
    background-color: #E6E1DB;
    color: #37355A;
}

h1 {

    font-family: Saira, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    margin: 3rem auto;
    text-align: center;

}

h2 {

    font-family: Saira, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 2rem;
    text-align: left;

}

.generate-pass {
    font-family: Saira;
    font-size: 18px;
    background-color: #37355A;
    color: #DBAC95;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 11rem;
    height: 3rem;
}

form {

    align-items: flex-start;
    display: grid;
    font-family: Saira, sans-serif;
    font-weight: 500;
    font-size: 16px;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 1rem;
    justify-items: start;

}

.checkboxes {
    display: grid;
    grid-template-columns: 12rem 12rem;
    grid-row: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    margin: 10px;
    text-align: left;
}

.dropdown{
    flex-flow: column;
}

.password-box {
    margin: 30px auto;
    
    background: #EBEBEB;
    border: .75px solid #37355A;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1.875rem 5rem;
    width: 53%;
    min-width: 370px;
}

.form-info {
    
    background-color: #E6E1DB;
    border: 0.75px solid #37355A;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1.875rem;
    padding-bottom: 3.125rem;
    width: 50%;
    min-width: 350px;
    
}

.form-element {
    margin: 0 0.5rem 2rem 1rem;
}


/* .test {
    grid-auto-flow: column;
} */


#password-length {
    padding-bottom: 1rem;
    width: 30px;
    height: auto;
    
}

#form-container {
    display: flex;
    flex-direction: row;
}

#submit-button {
    margin: auto;
}


@media (max-width: 1285px) {

    h2 {
        text-align: center;
        margin: 0;
    }

    form {
        grid-template-columns: auto;
        margin: 30px auto;
    }

    .checkboxes {
        grid-template-columns: auto;
    }

    #form-container {
        flex-direction: column;
    }

    #submit-button {
        margin-top: 1rem;
    }


   }