/*
    color palette-https://coolors.co/e6e1db-dbac95-37355a-6d64b9-e7363c
    font-https://fonts.google.com/specimen/Saira 500 600
*/
*{
    font-family: Saria, sans-serif;
    margin: 0;
}

html{
    margin: 0;
}

body {
    background-color: #E6E1DB;
    color: #37355A;
}

h1 {

    font-family: Saira, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    margin: 3rem auto;
    text-align: center;

}

h2 {

    font-family: Saira, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 2rem;
    text-align: left;

}

select {
    cursor: pointer;
    border-width: 2px;
    border-radius: 15px;
    border-color: rgba(55, 53, 90, .8);
    background-color: rgba(230, 225, 219, .4);
    padding: 3px;
    font-family: Saria, sans-serif;
    font-weight: bold;
    font-size: 15px;
}

option {
    background-color: rgba(230, 225, 219, .8);
    font-weight: bold;
}

.generate-pass {
    cursor: pointer;
    font-family: Saira;
    font-size: 18px;
    background-color: #37355A;
    color: #DBAC95;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 11rem;
    height: 3rem;
}

.copy-text {
    cursor: pointer;
    font-family: Saira;
    font-size: 18px;
    background-color: #37355A;
    color: #DBAC95;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 11rem;
    height: 3rem;
}

form {

    align-items: flex-start;
    display: grid;
    font-family: Saira, sans-serif;
    font-weight: 600;
    font-size: 16px;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 1rem;
    justify-items: start;

}

.checkboxes {
    display: grid;
    grid-template-columns: 12rem 12rem;
    grid-row: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    margin: 10px;
    text-align: left;
}

.dropdown{
    flex-flow: column;
}

.password-box {
    margin: 1.25rem auto 2.5rem auto;
    
    background: #EBEBEB;
    border: .75px solid #37355A;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    font-weight: 600;
    height: 20px;
    padding: 1.25rem 4.5rem 3.125rem 4.5rem;
    padding-top: 1.25rem;
    padding-bottom: 3.125rem;
    width: 53%;
    min-width: 370px;
}

.form-info {
    
    background-color: #E6E1DB;
    border: 0.75px solid #37355A;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin: 0 auto 3rem auto;
    padding: 1.875rem;
    padding-bottom: 3.125rem;
    width: 50%;
    min-width: 350px;
    
}

.form-element {
    margin: 0 0.5rem 2rem 1rem;
}

.separator {
    border-bottom: 1px dashed rgba(55, 53, 90, 0.45);
    margin: 1rem 0 2rem 0;
}

.buttons {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* .gen-button {
    flex: 0 0 70%;
}

.copy-button {
    flex: 0 0 30%;
} */

#copy-text {
    all: unset;
}

#password-length {
    padding-bottom: 1rem;
    width: 30px;
    height: auto;
}

#form-container {
    display: flex;
    flex-direction: row;
}

#submit-button {
    margin: auto;
}


@media (max-width: 1460px) {

    h2 {
        font-size: 30px;
        text-align: center;
        margin: 0;
    }

    form {
        grid-template-columns: auto;
        margin: 30px auto;
    }

    .buttons {
        margin-left: 0;
    }

    /* .checkboxes {
        grid-template-columns: auto;
    } */

    #form-container {
        flex-direction: column;
    }

    /* #submit-button {
        margin-top: 1rem;
    } */


}

@media (max-width: 940px) {

    .checkboxes {
        grid-template-columns: auto;
    }

    h1 {
        margin: 2rem auto;
    }

}